@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Nav Styles */

*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 100px; */
}
#shuvo{
    font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 35px;
        margin-left: 130px;
}
.v{color: darkorange;

}
nav ul li{
    list-style: none;
    margin-right: 50px;

}
ul li a{
    text-decoration: none;
 
}
nav ul{
display: flex;
align-items: center;
}
.dark-text{
    color: rgb(18, 15, 15);
}
.button1{
    background-color: darkorange;
    font-weight: bold;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
}
.button3{
    background-color: darkorange;
    font-weight: bold;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.button2{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: darkorange;
    padding: 7px 20px;
    border-radius: 5px;
    border-color: darkorange;
    border: 1;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 80px 40px 0px 230px;
    align-items: center;
}
.banner-greetings{
 font-size: 35px;
 font-weight: 400;   
 font-family: "Poppins", sans-serif;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-name{
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 50px;
}
.banner-description{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.dp{
    width: 400px;
    
}
.banner-content{
    max-width: 580px;
    padding-bottom: 120px;
}
.button23{
    display: flex;
    gap: 15px;
}
.header{
    background-image: url(../style/developer.png), url(../style/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: rgb(252, 247, 231);
}
/* About Me Section */

.about{
    background-color: rgb(252, 247, 231);
    border-radius: 10px;
    max-width: 950px;
    margin: 0 auto;
    padding: 90px 150px;
    text-align: center;
    margin-top: 140px;
}
.section-title{
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; 
}
.section-description{
    font-size: 18px;
    font-family: "Poppins", sans-serif; 
    color: rgb(44, 44, 44);
    text-align: justify;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-family: "Poppins", sans-serif; 
}
.item-description{
    font-weight: 650;
    font-family: "Poppins", sans-serif; 
}

/* What I Do Section */



.section-title2{
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; 
    text-align: center;
}
.section-description2{
    font-size: 18px;
    font-family: "Poppins", sans-serif; 
    color: rgb(44, 44, 44);
    text-align: justify;
    text-align: center;
}

/* Skills Section */


.skills{
    border-radius: 10px;
    max-width: 950px;
    margin: 0 auto;
    padding: 130px 150px;
    text-align: center;
    margin-top: 0;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(241, 241, 241);
}
.skill-title{
    text-align: left;
    font-family: "Poppins", sans-serif; 
    font-weight: bold;
    color: black;

}
.logo{
    display: flex;
    justify-content: left;
}
.skill-description{
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    font-family: "Poppins", sans-serif; 
}
/* Resume page */


.resume{
    border-radius: 10px;
    max-width: 950px;
    margin: 0 auto;
    padding: 0px 150px;
    text-align: center;
    margin-top: 0;   
}
.resume-container{
    display: flex;
    gap: 25px;
}
.section-title1{
    text-align: center;
    font-family: "Poppins", sans-serif; 
    font-size: 30px;
    font-weight: 600;
}
.resume-column-title{
    text-align: left;
    font-family: "Poppins", sans-serif; 
    color: rgb(74, 74, 74);
}
.experience{
    font-family: "Poppins", sans-serif; 
    color: rgb(74, 74, 74);
}
.experience-title{
    text-align: left;
}
.experience-sub-title{
    text-align: left;
}
.experience-description{
    text-align: left;
}
.button5{
    background-color: darkorange;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

/* Footer start */

.footer-bg{
    background-color: rgb(252, 247, 231);
    border-radius: 10px;
    margin: 0 auto;
    padding: 90px 150px;
    text-align: center;
    margin-top: 140px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input [type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
}
.namebox{
    margin-top: 5px;
    height: 34px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 20px;
    border: 0;
    outline: 0;
}
.emailbox{
    margin-top: 30px;
    height: 34px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 20px;
    border: 0;
    outline: 0;
}
.messagebox{
    margin-top: 30px;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 20px;
    border: 0;
    outline: 0;
}
.submit{
    background-color: darkorange;
    font-weight: bold;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}
.contact-instruction{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}